APP_NAME=TransacAI Backend
APP_VERSION=1.0.0
CORS_ORIGINS=https://tranzact-ai.dynablaze.workers.dev
DATABASE_URL=postgresql://tranzactaiadmin:zxrEj3Q3SMQfMZgmYmM4TkFUI6P29on8@dpg-d8hem46rnols73ch4a90-a/tranzactaidb
SECRET_KEY=shjP-MonGV2VEv91-Qidl7Gwpapa3uJ9N99SK6Sd0ho
